h1 {
  font-size: 30px;
  /* padding: 30px; */
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* text-align: center; */
}
h2 {
  background-color: #666;
  padding: 30px;
  font-size: 25px;
  color: white;
  font-family: cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
  font-family: serif;
  font-size: 25px;
  background-color: #666;
  padding: 30px;
  color: white;
  /* padding: 40px; */
  text-align: center;
}

p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

body {
    background-color: #d6d4ce;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    margin: 20px;
    border: solid 5px #76db85;
    outline: solid 10px #607371;
}

img {
  /* float: right;
  width: 390px; */
  border: solid 1px #76db85;
  outline: solid 2px #607371;
}

/* #theImg {
  float: right;
  width: 120px;
  height: 120px;
  border: solid 1px #76db85;
  outline: solid 2px #607371;
} */

#output {
  /* padding: 80px; */
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: black;
  /* min-height: 600px; */
  font-family: sans-serif;
  /* -webkit-column-width: 200px;
  column-width: 200px; */
  text-align: center;
}

/* #output p {
  margin-top: 0;
  margin-bottom: 0;
} */

/* .special {
  padding: 5px;
  margin: 5px;
  font-family: "Sofia", sans-serif;
  background: white;
  border: solid 1px black;
}

.red {
  color: red;
} */

.sourcelink {
    float: right;
}
