h1 {
  color: red;
}
h2 {
  color: blue;
}
p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: LightGray;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 2px Violet;
  font-size: 20px;
}
